.welcome-header {
    width: 100vw;
    margin-left: 1vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
}

/* Animated caret */
.typed-cursor {
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
  }
  
  @keyframes typedjsBlink {
    50% {
      opacity: 0.0;
    }
  }
  
  @-webkit-keyframes typedjsBlink {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .typed-fade-out {
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
  }
    
  
  /* From other guide! */
  /* .typed-cursor
  
  .typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
  } */
  
  /* More link styling */