@import-normalize;

@font-face {
  font-family: "Bantayog Sans";
  src: url("./fonts/BantayogSans-Semibold.otf");
}

:root {
  --main-color: #0F0F0F;
  --main-bg-color: #F0F0F0;
  --main-font-color: #0F0F0F;
  --main-heading-color: #0F0F0F;

  --main-font-family: 'Courier New', Courier, monospace;
  --main-font-weight: normal;
  --main-font-size: 0.75rem;

  --secondary-font-family: "Bantayog Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  --secondary-font-weight: normal;
  --secondary-font-size: 0.75rem;

  font-family: var(--main-font-family);
  background-color: var(--main-bg-color);

  height: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-family: var(--secondary-font-family);
}

* {
  box-sizing: border-box;
}