@import-normalize;

:root{
  --main-bg-color: #F0F0F0;
  --main-invert-bg-color: #0F0F0F;
  --main-font-family: 'Courier New', Courier, monospace;
  --main-font-weight: 'normal';
  --main-font-size: 0.75rem;
  --main-font-color: #0F0F0F;
  --main-invert-font-color: #F0F0F0;
}

html {
  font-family: var(--main-font-family)
}