@import-normalize;

@font-face {
  font-family: "Bantayog Sans";
  src: url("./fonts/BantayogSans-Semibold.otf");
}

:root {
  --main-color: #0F0F0F;
  --main-bg-color: #F0F0F0;
  --main-font-color: #0F0F0F;
  --main-heading-color: #0F0F0F;

  --main-font-family: 'Courier New', Courier, monospace;
  --main-font-weight: normal;
  --main-font-size: 0.75rem;

  --secondary-font-family: "Bantayog Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  --secondary-font-weight: normal;
  --secondary-font-size: 0.75rem;

  font-family: var(--main-font-family);
  background-color: var(--main-bg-color);

  height: 100%;
}

body {
  margin: 0;
}

header {
  margin: 1vw;
}

h1 {
  font-size: 2rem;
  font-family: var(--secondary-font-family);
}

.nester {
  display: flex;
  width: 100vw;
  /* margin: auto; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
}

.subnest {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

/* used to be section but more specific */
.standard-section {
  width: 100vw;
  /* margin-left: 1vw; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 1vw;
  display: flex;
  flex-flow: column wrap;
}

.profile {
  width: 30vw;
}

* {
  box-sizing: border-box;
}